/*-- scss:defaults --*/
// Base document colors
$primary:     #222;    
$secondary:   #376D61; 
$link-color:  $secondary;

$body-color:  #222;
$navbar-fg:   #FFF;
$navbar-hl:   lighten($secondary, 20%);

/*-- scss:rules --*/

h1, .h1{
  color: $secondary;
}

/* ---------- TOC ---------- */
#TOC {
  top: 40%;
  position: fixed;
  width: 210px;
}

div.callout-note.callout {
  border-left-color: #376D61;
}

div.callout-note.callout-style-default > .callout-header {
  background-color: #A0CFC4;
}

/* ------ Gallery badges for evidence */

.lower-mainland-badge {
  background-color: #264D44;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 0.7em;
  white-space: nowrap;
}

.vanc-isl-badge {
  background-color: #A0CFC4;
  color: black;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 0.7em;
  white-space: nowrap;
}

.gali-badge {
  background-color: #FFDD1F;
  color: black;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 0.7em;
  white-space: nowrap;
}

.coast-badge {
  background-color: #389475;
  color: black;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 0.7em;
  white-space: nowrap;
}


.card-text .listing-description{
  line-height: 2em;
}

.hl-place-name {
  color: #376D61;
  font-weight: bold;
}